/*
  CUSTOM PROPERTIES
*/

:root {
  --fs-1: 0.702rem;
  --fs-2: 0.79rem;
  --fs-3: 0.889rem;
  --fs-4: 1rem;
  --fs-5: 1.125rem;
  --fs-6: 1.266rem;
  --fs-7: 1.424rem;
  --fs-8: 1.602rem;
  --fs-9: 1.802rem;
  --clr-primary: #081B24;
  --clr-secondary: #FFD059;
  --clr-tertiary: #152C39;
  --clr-quaternary: #5985FF;
  --clr-quinary: #B1B1B1;
}


/*
  RESETS
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

ul,
ol,
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-weight: 400;
  line-height: 1.75;
  background-color: var(--clr-primary);
  padding: 0;
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

a,
button {
  color: inherit;
  cursor: pointer;
}

img,
picture {
  width: 100%;
  display: block;
}

/*
  TYPOGRAPHY
*/

input,
button,
textarea,
select {
  font: inherit;
  font-size: 1rem;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

p {
  margin-bottom: 1rem;
  color: var(--color-secondary);
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 400;
  line-height: 1.3;
}

p,
h1,
h2,
h3,
h4,
h5,
a,
label,
li {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-top: 0;
  font-size: var(--fs-9);
}

h2 {font-size: var(--fs-8);}

h3 {font-size: var(--fs-7);}

h4 {font-size: var(--fs-6);}

h5 {font-size: var(--fs-5);}

small, .text_small {font-size: var(--fs-3);}

#root, .App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

input {
  padding: 0.6rem 0 0.6rem 0.4rem;
  width: 100%;
  background-color: #fff;
  color: #000000;
  outline: none;
  border: 2px solid var(--clr-quinary);
  border-radius: 10px;
}

input:focus-within {
  border: 2px solid var(--clr-secondary);
}

.input-and-button {
  position: relative;
}

/*
  CLASSES
*/

.form {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  margin: 1rem 0 2.6rem 0;
}

.form p,
span {
  color: #FFFFFF;
}

.label {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

.forecast__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 0 0.8rem 0.8rem 0.8rem;
}

.forecast__item:last-of-type {
  margin-bottom: 0;
}

.forecast__title {
  display: flex;
  align-items: center;
  font-size: var(--fs-3);
  margin-bottom: 0.4rem;
}

.forecast__weekday {
  margin-right: 0.4rem;
  color: var(--clr-quaternary);
}

.forecast__min-max {
  margin: 0 auto;
}

.forecast__temps {
  display: flex;
  justify-items: center;
  text-align: center;
  overflow-x: scroll;
  scrollbar-width: none;
}

.forecast__temps::-webkit-scrollbar {
  display: none;
}

.forecast__temp-period {
  display: flex;
  flex-direction: column;
  margin-right: 1.1rem;
  min-width: 47.61px;
}

.forecast__temp-period:nth-child(4) {
  margin-right: 0;
}

.forecast__temp-period:nth-child(5) {
  margin-left: 1rem;
}

.forecast__time {
  font-size: var(--fs-3);
  color: var(--clr-quinary);
}

.forecast img {
  width: 3rem;
  height: 3rem;
  margin-left: auto;
}

.temperature-unit {
  display: flex;
  margin-left: -6px;
  margin-bottom: 1.4rem;
}

.radio {
  font-size: var(--fs-4);
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  align-items: center;
  cursor: pointer;
}

.radio__input {
  display: flex;
}

.radio__input input {
  opacity: 0;
  width: 0;
  height: 0;
}

.radio__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid var(--clr-secondary);
  transform: translateY(-0.05em);
}

.radio__label {
  line-height: 1;
}

.radio__input input:checked + .radio__control {
  background: radial-gradient(var(--clr-secondary) 50%, rgba(255, 0, 0, 0) 51%);
}