/*
  CUSTOM PROPERTIES
*/

:root {
  --fs-1: 0.702rem;
  --fs-2: 0.79rem;
  --fs-3: 0.889rem;
  --fs-4: 1rem;
  --fs-5: 1.125rem;
  --fs-6: 1.266rem;
  --fs-7: 1.424rem;
  --fs-8: 1.602rem;
  --fs-9: 1.802rem;
  --clr-primary: #081B24;
  --clr-secondary: #FFD059;
  --clr-tertiary: #152C39;
  --clr-quaternary: #5985FF;
  --clr-quinary: #B1B1B1;
}


/*
  RESETS
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

ul,
ol,
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeSpeed;
  font-weight: 400;
  line-height: 1.75;
  background-color: var(--clr-primary);
  padding: 0;
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

a,
button {
  color: inherit;
  cursor: pointer;
}

img,
picture {
  width: 100%;
  display: block;
}

/*
  TYPOGRAPHY
*/

input,
button,
textarea,
select {
  font: inherit;
  font-size: 1rem;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}